

body {
 
  font-family:  Georgia, serif;

}

.numbers {
  
    margin: 30px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    
  }
  
  .number {
    
    display: inline-block;
    margin: 12px;
    border: 1px solid yellow;
    background-color: white;
    box-shadow: 1px 1px 0 2px green;
    width: 27px;
    padding: 5px;
    border-radius: 100%;
    user-select: none;
    cursor: pointer;
  }
  
  .selected-number {
    background-color: lawngreen;
  }

#megasena-numbers {
  text-align: center;
  background-color: #bdecb6;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h1 {
  text-shadow: 2px 2px 4px green;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

h2, p, .saved-games{
    margin-left: 50px;
}
h3{
    text-align: center;
    font-size: 25px;
}
h2 {
  padding: 10px;
  
}
p{
    color:red;
    font-size:17px;
    font-weight: bold;
}
button {
  background-color: #4caf50;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid rgb(64, 96, 235);
  padding: 15px 25px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 3px 3px 0 2px green;
  transition: box-shadow 0.3s ease, transform: 0.3s ease;
  
}


.buttons {
  text-align: center;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  user-select: none;
  text-align: center;

}

.button:active {
    box-shadow: 0 0 0 0 rgb(64, 96, 235), inset 3px 3px 3px rgb(64, 96, 235);
    transform: translate(3px, 3px);
  }


.saved-games {
  font-family: monospace;
  font-size: 20px;
  border: 1px solid grey;
  list-style-type: square;
  font-family : "Open Sans Italic";
  font-size : 20px;
  padding-left : 50px;
  line-height : 30px;
  padding-top : 10px;
  padding-bottom : 10px;
  color : #4b4949;
  margin-right: 50px;
  
 
}
